on:
  workflow_call:
    inputs:
      dockerfile_changed:
        description: "Whether the firmware Dockerfile was changed"
        required: false
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare image
        run: |
          if [ "${{ inputs.dockerfile_changed }}" == "true" ]; then
            docker build -t ghcr.io/${{ github.repository_owner }}/knot-firmware-builder:latest -f docker/firmware-builder/Dockerfile .
            if [[ "${{ github.ref }}" == "refs/heads/main" || "${{ github.ref }}" == "refs/heads/master" ]]; then
              docker push ghcr.io/${{ github.repository_owner }}/knot-firmware-builder:latest
            fi
          else
            docker pull ghcr.io/${{ github.repository_owner }}/knot-firmware-builder:latest
          fi

      - name: Run script in Docker container
        run: docker run -v $PWD:/project -w /project/ ghcr.io/${{ github.repository_owner }}/knot-firmware-builder:latest sh -c "cd Firmware && ./esp_build_firmware.sh"

      - name: Run Unit Tests
        run: |
          cd Firmware/components/knot_midi_translator/host_test/
          ./test.sh
          ./test.sh >> test.txt

      - name: Set env
        shell: bash
        run: echo "ACTION_DATE=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_ENV

      - name: Copy artifact
        run: cp binary/midi_host_fw.uf2 knot_esp32_${{ env.ACTION_DATE }}.uf2

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: knot_esp32_${{ env.ACTION_DATE }}.uf2
