name: build_mechanical_builder_image

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/docker/mechanical-builder/Dockerfile'

jobs:
  build-and-push:
    name: Build and push mechanical builder image
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .github/docker/mechanical-builder/
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/knot-mechanical-builder:latest
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/knot-mechanical-builder:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/knot-mechanical-builder:buildcache,mode=max
