name: "electrical_boards"

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/electrical_boards.yml'
      - '.github/workflows/convert_bottom_position.py'
      - 'Electrical/Design/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  generate-artifacts:
    name: kicad export
    runs-on: ubuntu-latest
    container: "setsoft/kicad_auto:ki8"
    strategy:
      fail-fast: false
      matrix:
        board:
        - 'PCBA-KNOT'

    steps:
    - uses: actions/checkout@v2

    - name: Run PCB stuff
      run: |
        make -C Electrical/Design/${{ matrix.board }}

    - name: Print errors
      if: ${{ always() }}
      run: |
        cat Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}-drc.html
        cat Electrical/Design/${{ matrix.board }}/kibot_error.log

    - name: Set Date
      run: echo "action_date=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_ENV

    - name: Convert position file
      run: |
        python3 .github/workflows/convert_bottom_position.py ../../Electrical/Design/${{ matrix.board }}/mfg-bot/mfg/${{ matrix.board }}-both_pos.csv ../../Electrical/Design/${{ matrix.board }}/mfg-bot/mfg/${{ matrix.board }}-both_pos_fixed.csv
        rm Electrical/Design/${{ matrix.board }}/mfg-bot/mfg/${{ matrix.board }}-both_pos.csv

    - name: Zipping gerber
      uses: vimtor/action-zip@v1
      with:
        files: Electrical/Design/${{ matrix.board }}/mfg-bot/JLCPCB
        dest: Electrical/Design/${{ matrix.board }}/mfg-bot/mfg/${{ matrix.board }}-gerber.zip

    - name: Rename pdf files and removing non-zipped gerber files
      run: |
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}-erc.html Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_erc.html
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}-drc.html Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_drc.html
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/Schematic.pdf Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_Schematic.pdf
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/PCB_Top.pdf Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_PCB_Top.pdf
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/PCB_Bottom.pdf Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_PCB_Bottom.pdf
        mv Electrical/Design/${{ matrix.board }}/mfg-bot/kibot_errors.filter Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_kibot_errors.filter
        mv Electrical/Design/${{ matrix.board }}/kibot_error.log Electrical/Design/${{ matrix.board }}/mfg-bot/${{ matrix.board }}_kibot_error.log

        rm -r Electrical/Design/${{ matrix.board }}/mfg-bot/JLCPCB

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: "result_${{ matrix.board }}_${{ env.action_date }}"
        path: |
          Electrical/Design/${{ matrix.board }}/mfg-bot/
        if-no-files-found: warn

  deploy-results:
    needs: generate-artifacts
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy_nightly_release.yml
    with:
      release_name: "Nightly Electrical"
      tag_name: "nightly-electrical"
    secrets: inherit
