on:
  workflow_dispatch:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  check-dockerfile:
    runs-on: ubuntu-latest
    outputs:
      dockerfile-changed: ${{ steps.filter.outputs.dockerfile }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            dockerfile:
              - 'docker/firmware-builder/Dockerfile'

  build:
    needs: check-dockerfile
    uses: ./.github/workflows/_firmware_build.yml
    with:
      dockerfile_changed: ${{ needs.check-dockerfile.outputs.dockerfile-changed == 'true' }}
    secrets: inherit

  publish-nightly:
    needs: build
    if: always() && needs.build.result == 'success' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/_deploy_nightly.yml
    with:
      release_name: "Nightly Firmware"
      tag_name: "nightly-firmware"
    secrets: inherit
