name: "Firmware Nightly Release"

on:
  workflow_call:
    inputs:
      product_name:
        description: "Product name for release naming"
        required: true
        type: string
  workflow_dispatch:
    inputs:
      product_name:
        description: "Product name for release naming"
        required: true
        type: string

jobs:
  publish-nightly-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: Generate tag name
        id: get_version
        run: |
          tag_name="nightly"
          echo "Tag name: $tag_name"
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT

      - name: Delete all releases by name
        id: delete_releases_by_name
        run: |
          release_name="Nightly Build"  # Replace with the release name you want to delete
          echo "Deleting all releases with the name: $release_name"

          # Fetch all releases
          releases=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases")

          # Find and delete all releases matching the given name
          echo "$releases" | jq -c --arg release_name "$release_name" '.[] | select(.name == $release_name) | .id' | while read release_id; do
            echo "Deleting release with ID: $release_id"

            # Delete the release by ID
            curl -s -X DELETE -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ github.repository }}/releases/$release_id"

            echo "Deleted release with ID: $release_id"
          done

      - name: Remove Nightly Tags
        run: |
          # Configure Git
          echo "Configuring Git..."
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          # Get all tags containing "nightly"
          echo "Retrieving all tags containing 'nightly'..."
          nightly_tags=$(git tag -l "*nightly")
          echo "Nightly tags found: $nightly_tags"

          # Loop through each nightly tag and delete it locally and remotely
          if [ -z "$nightly_tags" ]; then
              echo "No nightly tags found. Exiting..."
          else
              for tag in $nightly_tags; do
                  echo "Deleting tag: $tag"
                  git tag -d "$tag" # Delete tag locally
                  git push origin ":refs/tags/$tag"
              done
          fi
          echo "Tag deletion process completed."

      - name: Download all nightly artifacts
        uses: actions/download-artifact@v4
        with:
          path: build/ # Path to save the downloaded artifacts
          merge-multiple: true

      - name: Remove duplicate file (the one that does not have date in the name)
        run: |
          rm build/*nightly.uf2

      - name: Zip nightly artifacts
        uses: vimtor/action-zip@v1
        with:
          files: build/
          dest: ${{ inputs.product_name }}_nightly.zip

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          toTag: ${{ github.ref }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release Nightly
        uses: softprops/action-gh-release@v1
        with:
          name: Nightly Build
          tag_name: ${{ steps.get_version.outputs.tag_name }}
          files: ${{ inputs.product_name }}_nightly.zip
          draft: false
          prerelease: true
          body: ${{steps.github_release.outputs.changelog}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
