on:
  workflow_dispatch:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/_firmware_build.yml
    secrets: inherit

  publish-nightly:
    needs: build
    if: always() && needs.build.result == 'success' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/_deploy_nightly.yml
    with:
      release_name: "Nightly Firmware"
      tag_name: "nightly-firmware"
    secrets: inherit
