name: mechanical_components

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/mechanical_components.yml'
      - '.github/workflows/freecad_export.py'
      - '.github/workflows/openscad_preview.sh'
      - 'Mechanical/Design/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  generate-artifacts:
    name: freecad export
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository_owner }}/knot-mechanical-builder:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        component:
        - 'KNOT-FRONT'
        - 'KNOT-BACK'
        - 'KNOT-HOUSING'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Start virtual display
      run: |
        Xvfb :99 -screen 0 1920x1080x24 > /dev/null 2>&1 &
        until xdpyinfo -display :99 > /dev/null 2>&1; do sleep 0.5; done
        x11vnc -display :99 -nopw -listen localhost -xkb -ncache 10 -ncache_cr -forever > /dev/null 2>&1 &

    - name: Run GUI application
      continue-on-error: true
      run: |
        ls
        export DISPLAY=:99
        freecad --hidden ./Mechanical/Design/${{ matrix.component }}/${{ matrix.component }}.FCStd ./.github/workflows/freecad_export.py step pdf || true

    - name: Convert STEP to STL
      run: /opt/conda/envs/occenv/bin/python ./.github/workflows/pythonocc_step_to_stl.py

    - name: Generate Preview PNG
      run: |
        ./.github/workflows/openscad_preview.sh

    - name: Copy reference files
      run: |
        find Mechanical/Design/${{ matrix.component }}/ -maxdepth 1 -name "${{ matrix.component }}*" ! -name "*.FCStd" ! -name "*.FCBak" -exec cp {} temp/ \; || true

    - name: Stop x11vnc
      run: pkill x11vnc

    - name: Set Date
      run: echo "action_date=$(date +'%Y-%m-%d-%H%M')" >> $GITHUB_ENV

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: "result_${{ matrix.component }}_${{ env.action_date }}"
        path: temp/${{ matrix.component }}*.*

  deploy-results:
    needs: generate-artifacts
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy_nightly_release.yml
    with:
      release_name: "Nightly Mechanical"
      tag_name: "nightly-mechanical"
    secrets: inherit
